.home__container {
  max-width: 540px;
  margin: 0 auto;
}
.home__container h1 {
  font-weight: 700;
  color: #344A8E;
  text-align: center;
}
.spacing {
  padding: 1rem 0;
}
.home__bgStep {
  text-align: center;
  background-color: antiquewhite;
  padding: 8px 0;
}
.home__bgStep h3 {
  font-weight: 700;
  margin-bottom: 0;
}

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.howto__imgContainer {
  border: 1px solid gray;
  margin: 8px 0;
}
.howto__imgContainer img {
  object-fit: contain;
  width: 280px;
}
.modal__content {
  /* max-height: 540px;
  overflow: auto; */
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

.spinner {
  height: 20px;
  width: 20px;
  border: 4px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 540px) {
  .home__container {
    padding: 0 8px;
  }
}
.magic__line {
  width: 100%;
  height: 1px;
  background: rgb(3,169,244);
  background: radial-gradient(circle, rgba(3,169,244,1) 0%, rgba(3,169,244,1) 0%, rgba(0,0,0,0) 100%);
}
.footer {
  width: 100%;
  max-width: 540px;
  /* height: 80px; */
  margin: 0 auto;
  padding: 18px 8px;
}
.footer span {
  font-weight: 600;
}
.success__wrapper {
  min-height: calc(100vh - 180px);
  max-width: 540px;
  margin: 0 auto;
}
.success__wrapper p {
  max-width: 350px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.success__wrapper h2 {
  color: #344A8E;
  text-align: center;
  font-weight: 600;
}
.success__wrapper ul li {
  margin: 8px 0;
}
.success__card {
  margin: 0 16px;
  border-radius: 8px;
}
.success__btn {
  max-width: 320px;
  height: 45px;
  border-radius: 8px !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  align-items: center;
  margin: 8px 0;
  text-align: end;
  font-weight: 500;
}